#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.app-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}
.app-logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 2.25rem;
}

.app-nav {
  display: flex;
  gap: 1rem;
}

